
<% if current_user %>
  <h1>Ohayaimasu, <%= current_user.name %></h1>
  <%= image_tag "data:image/png;base64,#{@img}", class: "styled-image" %>
  <p class="styled-paragraph">
  <% @anyas.each do |anya| %>
    <%= anya %>
    <br>
  <% end %>
  </p><br>
<% else %>
  <h1>Yororosu onegaisurumasu - Anya</h1>
  <%= image_tag "data:image/png;base64,#{@img}", class: "styled-image" %>
<% end %>